<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="JAMS Project Management">
        <title>JAMS Project Management</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
    </head>
    <body>
        <div class="navdiv">
            <nav>
                <a href="{{ url_for('user') }}"> Home</a>
            </nav>
        </div>

        <h2>You are currently clocked (in/out)</h2>

        <nav> <a href="/clock"> Start/Stop Clock </a> </nav>
    </body>