<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="JAMS Project Management">
        <title>JAMS Project Management</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
    </head>
    <body>
        <div class="navdiv">
            <nav>
                <form> <input type ="button" onclick="window.location.href='{{ url_for('user') }}';" value="Home" />
                <input type ="button" onclick="window.location.href='{{ url_for('logout') }}';" value="Logout" /> 
                <input type ="button" onclick="window.location.href='{{ url_for('project', project_id=project.id) }}';" value="Project: {{ project.name }}" /> </form>
            </nav>
        </div>

        <h1>Add a New Task</h1>
        {% if task %}
            <form action="{{ url_for('edit', task_id=task.id, project_id=project.id) }}" method="post">
        {% else %}
            <form action="create" method="post">
        {% endif %}
            <p><label>Task Name </label></p><p>  <input type="text" name="name"/></p>
            <p><label>Text</label></p><p>  <input type="text" name="text"/></p>
             <p><label>Task Deadline </label></p><p><input type="text" name="deadline"></p>
             <p><input type="submit" value="Add Task"/></p>
        </form>
    </body>
</html>