<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="JAMS Project Management">
        <title>JAMS Project Management</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
    </head>
    <body>
        <div class="navdiv">
            {% if user %}
                <nav>
                    <a href="{{ url_for('logout') }}"> Logout</a>
                </nav>
            {% else %}
                <nav>
                    <a href="{{ url_for('login') }}">Sign In</a> ||
                    <a href="{{ url_for('register') }}">Register</a>
                </nav>
            {% endif %}
        </div>


        <h1>Welcome {{user}} to JAMS!</h1>

        <h2>Information for all projects you are part of can be found here</h2>
        {% for project in projects %}
            <nav> <a href="{{ url_for('project', project_id=project.id) }}"> {{ project.name }} </a> </nav>
        {% endfor %}

        <nav> <a href="/user/createproject"> Create Project </a> </nav>

    </body>
</html>