<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="JAMS Project Management">
        <title>JAMS Project Management</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <h1>Welcome {{user.name}} to JAMS!</h1>

        <h2>Use this site to maintain and organize your projects and tasks.</h2>
        <nav> <a href="/view"> My tasks </a> </nav>
        
        <h3>Project tasks</h3>

        <h3>To Do</h3>

        <h3>Work notes</h3>

    </body>
</html>