<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="JAMS Project Management">
        <title>JAMS Project Management</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
    </head>
    <body>
        <div class="navdiv">
            {% if user %}
                <nav>
                    <form> <input type ="button" onclick="window.location.href='{{ url_for('logout') }}';" value="Logout" /> 
                    <input type ="button" onclick="window.location.href='{{ url_for('clock') }}';" value="Clock" /></form>
                </nav>
            {% else %}
                <nav>
                    <form> <input type ="button" onclick="window.location.href='{{ url_for('login') }}';" value="Login" />
                     <input type ="button" onclick="window.location.href='{{ url_for('register') }}';" value="Register" /> </form>
                </nav>
            {% endif %}
        </div>


        <h1>Welcome to JAMS {{usern}}!</h1>

        <h2>Information for all projects you are part of can be found here</h2>
        {% for project in projects %}
            <nav> <form action="{{ url_for('project', project_id=project.id) }}"> <input type="submit" value="{{project.name}}"> </form> </nav>
            <br>
        {% endfor %}

        <nav> <form action="/user/createproject"> <input type="submit" value="Create Project"> </form> </nav>

    </body>
</html>