<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="JAMS Project Management">
        <title>JAMS Project Management</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
    </head>
    <body>
        <div class="navdiv">
            <nav>
                <form> <input type ="button" onclick="window.location.href='{{ url_for('user') }}';" value="Home" /> 
                <input type ="button" onclick="window.location.href='{{ url_for('logout') }}';" value="Logout" /> </form>
            </nav>
        </div>

        <h1>Project Details</h1>

        <table>
            <tr>
                <th>Task</th>
                <th>Text</th>
                <th>Deadline</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.text }}</td>
                <td>{{ task.deadline }}</td>
                {% if user == task.user_id %}
                    <td>
                        <form action="{{ url_for('edit', task_id=task.id, project_id=project.id) }}" method="get">
                            <input type="submit" value="Edit">
                        </form>
                    </td>
                    <td>
                        <form action="{{url_for('delete', task_id=task.id) }}" method="post">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                {% endif %}
                <br>
            </tr>
            {% endfor %}
        </table>
        <table>
        <tr>
            <td>
                <form action="{{ url_for('comment', project_id=project.id) }}"> <input type="submit" value="Add a Comment"> </form>
            </td>
            {% if user == project.user %}
                <td>
                    <form action="{{ url_for('create', project_id=project.id) }}"> <input type="submit" value="Add Task"></form>
                </td>
                <td>
                    <form action="{{ url_for('editproject', project_id=project.id) }}"> <input type="submit" value="Edit Project"></form>
                </td>
                <td>
                    <form> <input type ="button" onclick="window.location.href='{{ url_for('deleteproject', project_id=project.id) }}';" value="Delete Project" /> </form>
                </td>
            {% endif %}
        </tr>
        </table>
        {% if project.comments %}
            {% if project.comments|length > 0 %}
                    <h2>Comments</h2>
                        <ul>
                            {% for comment in project.comments %}
                                <li>{{ comment.content }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endif %}
    </body>
</html>